@model List<Question>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <div class="container">
        <div class="row">
            @{ var counter = 0;}
            @foreach (var item in Model)
            {
                counter++;
                <div class="col-md-12 mt-3">
                    @*<h5> @counter.  @item.Title   </h5>*@
                    <div class="row question">
                        <div class="col-md-12">
                            <input class="A radio" type="radio" name="@item.Id" value="A" />
                            <label>@item.A</label>
                        </div>
                        <div class="col-md-12">
                            <input class="B radio" type="radio" name="@item.Id" value="B" />
                            <label>@item.B</label>
                        </div>
                        <div class="col-md-12">
                            <input class="C radio" type="radio" name="@item.Id" value="C" />
                            <label>@item.C</label>
                        </div>
                        <div class="col-md-12">
                            <input class="D radio" type="radio" name="@item.Id" value="D" />
                            <label>@item.D</label>
                        </div>

                        <div class="col-md-12">
                            <input class="answer" type="hidden" value="@item.Answer" />
                        </div>
                    </div>
                </div>

                <hr />

            }
        </div>
        <div class="col-12 py-5">
            <button id="btnShowAnswers" class="btn btn-success mb-5 float-right"> Doğru Cevapları Göster</button>
        </div>
        <div>
            Sonuç:
            <div id="resultDiv">
                <div class="container">
                    <p>Doğru Sayısı : </p>




                </div>
                <script>$("<p></p>").insertAfter(".correctAnswerCount");</script>
            </div>
        </div>
    </div>

</body>
</html>
