@model IEnumerable<UserExamListViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>


<p>
    <a asp-action="Create">Yeni Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TextTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResultDate)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.WrongAnswersCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorrectAnswersCount)
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TextTitle)
            </td>
            @if (item.IsTaken)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.ResultDate)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.WrongAnswersCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CorrectAnswersCount)
                </td>
            }
            else
            {
                <td colspan="3">
                    Bu sınava henüz girmediniz
                </td>
            }



        </tr>
}
    </tbody>
</table>
